.container {
  display: flex;
  justify-content: center; 
  max-width: 1010px; 
  margin: 0 auto; 
  transition: all 0.3s ease;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    max-width: 100%; 
    margin: 0;
    min-width: 100%; 
  }
}