/* 폰트 */
/* @font-face {
  font-family: "NanumSquare-Bold";
  font-weight: bold;
  src: url("../../fonts/NanumSquareB.ttf") format("truetype");
} */

.mt20 {
  margin-top: 50px;
}

.post {
  width: 550px;
}

.profile_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.textMuted {
  font-weight: lighter;
}

.profile > span {
  color: gray;
  font-size: 15px;
}

.post_image > img {
  width: 100%;
  border-radius: 4px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}

.icons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons {
  gap: 1rem;
}

.icon {
  padding: 7px;
  font-size: 30px;
}

.icon:hover {
  cursor: pointer;
}

.post_likes {
  font-family: "NanumSquare-Bold";
  text-align: left;
}