.navContainer {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
  z-index: 1000;
}

/* 로고 */
.logoContainer {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 15px;
  height: 50px;
  align-items: center;
  transition: opacity 0.3s ease;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
}

.logoContainer svg {
  display: none; 
  font-size: 24px; 
}

/* nav 버튼 container */
.iconContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.navItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease;
}

.lastItem {
  position: absolute;
  bottom:50px;
}

.navButton {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s ease, justify-content 0.3s ease; 
}

.navButton:hover {
  background-color: #f0f0f0;
}

.navButton svg {
  font-size: 24px;
}

.navButton span {
  margin-left: 15px;
  white-space: nowrap;
  transition: opacity 0.3s ease; 
}

@media (max-width: 1920px) {
  .navContainer {
    width: 54px;
  }

  .navButton span {
    display: none;
  }

  .logoContainer img {
    display: none; 
  }

  .logoContainer svg {
    display: block; 
  }
}

@media (max-width: 760px) {
  .navContainer {
    display: none;
  }
}

/* 클릭된 버튼 */
.seletedBtn {
  background-color: #efefef;
}

/* active 상태일때 */
.navContainerActive {
  width: 54px; 
}

.navContainerActive .navButton span {
  display: none;
}

.navContainerActive .logoContainer img {
  display: none; 
}

.navContainerActive .logoContainer svg {
  display: block; 
}

/*  */

.smallNavContainer {
  display: none;
  transition: width 0.3s ease;
  z-index: 1000;
  width: 100%;
}

.upperNav {
  display: flex;
  align-items: flex-start;
  height: 60px;
  padding: 0 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1001; 
  box-sizing: border-box;
  transition: all 0.3s ease; 
}

.smallNavLogoContainer {
  align-self: center;
}

.smallNavLogoContainer img {
  height: 31px;
}

.rightContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rightContainer svg {
  align-self: center;
  width: 24px;
}

.lowerNav {
  display: flex;
  height: 60px;
  padding: 0 16px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 1001; 
  box-sizing: border-box;
  transition: all 0.3s ease; 
}

.smallNavIconContainer {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center; 
}

.smallNavIconContainer svg {
  width: 24px;
}

@media (max-width: 760px) {
  .smallNavContainer {
    display: block;
  }
}
