/* 폰트 */
/* @font-face {
  font-family: "NanumSquare-Regular";
  font-weight: normal;
  src: url("../fonts/NanumSquareR.ttf") format("truetype");
} */

.nav_design {
  flex-direction: column;
  border-right: 1px solid #d3d3d3;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: white;
}

.sidenav {
  width: 244px;
}

/* 기본 로고 이미지 설정 */
.logo_container {
  display: block;
  margin: 30px 20px;
  text-align: left;
}

.logo_container img {
  width: 60%;
}

/* 기본 아이콘 설정 - 기본적으로 숨김 */
.logo_container .icon {
  display: none;
}

/* 기본 레이아웃 - 전체 화면 */
.sidenav_buttons {
  position: absolute;
  top: 100px;
  transition: all 0.3s ease;
  width: inherit;
}

.sidenav_button {
  font-family: "NanumSquare-Regular";
  display: flex;
  flex-direction: row;  
  align-items: center;
  color: black;
  background: none;
  border: none;
  margin: 4px 0;
  padding: 12px 20px;
  width: 100%;
}

.sidenav_button {
  font-size: 2rem;
  transition: transform 0.3s ease; 
}

.sidenav_button:hover {
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.sidenav_button > span {
  font-size: 1.2rem;
  margin-left: 16px;
  white-space: nowrap; 
  display: inline-block;
  overflow: hidden; 
}

/* 선택된 상태의 nav 스타일 */
.selected {
  width: 72px;
}

.selected .logo_container img {
  display: none;
}

.selected .logo_container .icon {
  display: block; 
  font-size: 1.7rem;
}

.selected .sidenav_button span {
  display: none;
}

.sidenav_more {
  position: fixed;
  bottom: 0 ;
}

/* 작은 화면일 때의 레이아웃 */
@media (max-width: 1264px) {
  .sidenav {
    width: 72px;
  }

  .logo_container img {
    display: none; /* 작은 화면에서는 이미지 숨김 */
  }

  .logo_container .icon {
    display: block; /* 작은 화면에서는 아이콘 표시 */
    font-size: 1.7rem; /* 원하는 크기로 설정 */
  }

  .sidenav_buttons {
    flex-direction: column;
  }

  .sidenav_button span {
    display: none; /* 텍스트 숨기기 */
  }
}