/* Sidebar container */
.navContainer {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease; /* Smooth transition when resizing */
  z-index: 1000;
}

/* Logo container */
.logoContainer {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 20px;
  padding: 10px 15px;
  height: 50px;
  align-items: center;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
}

.logoContainer svg {
  display: none; /* Hide the icon by default */
  font-size: 24px; /* Adjust the icon size as needed */

}

/* Navigation items container */
.navItems {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Individual navigation buttons */
.navButton {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s ease, justify-content 0.3s ease; /* Smooth transition for centering */
}

.navButton:hover {
  background-color: #f0f0f0;
}

.navButton svg {
  font-size: 24px;
}

.navButton span {
  margin-left: 15px;
  white-space: nowrap;
}

/* Last "More" button */
.navButton:last-child {
  margin-top: auto;
}

.menuIcon {
  border-top: 1px solid #dbdbdb;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menuIcon svg {
  font-size: 28px;
}

/* Active state for the selected item */
.navButtonActive {
  background-color: #efefef;
  color: #262626;
}

.navButtonActive svg {
  color: #000;
}

/* Media query to adjust sidebar width and hide text when screen width is below 768px */
@media (max-width: 1920px) {
  .navContainer {
    width: 54px; /* Reduced width when span is hidden */
  }

  .navButton span {
    display: none;
  }

  .logoContainer img {
    display: none; 
  }

  .logoContainer svg {
    display: block; 
  }
}

@media (max-width: 760px) {
  .navContainer {
    display: none;
  }
}

/* Active state for the selected item */
.seletedBtn {
  background-color: #efefef;
}

/* active 상태일때 */
.navContainerActive {
  width: 54px; 
}

.navContainerActive .navButton span {
  display: none;
}

.navContainerActive .logoContainer img {
  display: none; 
}

.navContainerActive .logoContainer svg {
  display: block; 
}