.suggestions {
  padding-left: 64px;
  width: 319px;
  height: 100vh;
}

.text_container {
  width: 100%;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.textGrey {
  color: #A8A8A8;
}

.textBold {
  font-weight: 700;
}

.text14 {
  font-size: 14px;
}

.text12 {
  font-size: 12px;
}