.timeline {
  display: flex;

}

.section_post {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  flex: 0.675;
}

.post {
  margin-left: 5rem;
  width: 630px;
  display: block;
}

.section_suggestion {
  flex: 0.325;
  left: 0;
  padding-top: 36px;
}