.timeline {
  display: flex;
  justify-content: center; 
  max-width: 1010px; 
  margin: 0 auto; 
  transition: all 0.3s ease;
  flex-direction: row;
  gap: 20px;
}

.main_content {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.section_post {
  width: 630px;
}

.section_suggestion {
  padding-top: 36px;
  transition: all 0.3s ease;
}

.story {
  width: inherit;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story_block_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.story_block {
  margin-bottom: 10px; 
  display: flex;
  align-items: center;
  gap: 13px;
  overflow-x: auto;
}

.story_block::-webkit-scrollbar {
  display: none;
}

.story_particular {
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story_profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #ccc;
}

.unchecked {
  border: 2px solid purple;
}

.checked {
  border: 1px solid #ccc;
}

.status_img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.profile_name {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

.scroll_button {
  position: absolute;
  top: 30%;
  transform: translateY(-45%);
  background-color: white;
  color: none;
  border: none;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_button.left {
  left: 30px;
}

.scroll_button.right {
  right: 30px;
}

@media (max-width: 1160px) {
  .section_suggestion {
    display: none;
  }
}

@media (max-width: 768px) {
  /* .section_post {
    margin-top: 60px;
  } */

  .timeline {
    flex-direction: column; 
    max-width: 100%; 
    margin: 0;
    min-width: 100%; 
  }

  .main_content {
    width: 100%;
  }

  .section_post {
    width: 100%;
  }
}
