.timeline {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  max-width: 1010px; /* 최대 너비 설정 */
  margin: 0 auto; /* 양쪽 여백을 동일하게 */
  transition: all 0.3s ease;
  flex-direction: row;
}

.main_content {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.section_post {
  width: 630px;
  margin: auto;
}

.section_suggestion {
  padding-top: 36px;
  margin-left: 20px; /* Timeline과 Suggestions 사이의 여백 */
  transition: all 0.3s ease;
}

.story {
  width: inherit;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story_block_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.story_block {
  margin-bottom: 10px; /* Post와 Story 사이에 간격 추가 */
  display: flex;
  align-items: center;
  gap: 13px;
  overflow-x: auto;
}

.story_block::-webkit-scrollbar {
  display: none;
}

.story_particular {
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story_profile {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #ccc;
}

.unchecked {
  border: 2px solid purple;
}

.checked {
  border: 1px solid #ccc;
}

.status_img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.profile_name {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

.scroll_button {
  position: absolute;
  top: 30%;
  transform: translateY(-45%);
  background-color: white;
  color: none;
  border: none;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_button.left {
  left: 30px;
}

.scroll_button.right {
  right: 30px;
}

@media (max-width: 1160px) {
  .section_suggestion {
    display: none; /* Suggestions 숨기기 */
  }
}

/* Responsive layout for screens below 768px */
@media (max-width: 768px) {
  .timeline {
    flex-direction: column; /* 세로 정렬로 변경 */
    max-width: 100%; /* 최대 너비 100%로 설정 */
    margin: 0; /* 여백 제거 */
    min-width: 100%; /* 최소 너비 설정 */
  }

  .main_content {
    width: 100%; /* 전체 너비 사용 */
  }

  .section_post {
    width: 100%;
  }

  .sidenav {
    width: 72px; /* Sidenav 크기 축소 */
  }

  .logo_container img {
    display: none; /* 작은 화면에서는 이미지 숨김 */
  }

  .logo_container .icon {
    display: block; /* 작은 화면에서는 아이콘 표시 */
    font-size: 1.7rem; /* 원하는 크기로 설정 */
  }

  .sidenav_buttons {
    flex-direction: column;
  }

  .sidenav_button span {
    display: none; /* 텍스트 숨기기 */
  }
}
