.detailsPanel {
  padding: 20px;
  border-left: 1px solid #ccc;
  overflow-y: scroll;
  width: 15rem;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  margin-right: 10px;
  width: 28px; 
  height: 28px;
}

.userName {
  font-weight: bold;
  font-size: 14px;
}

.textArea {
  width: 100%;
  height: 168px;
  overflow-x: auto;
  border: none;
  resize: none;
}

.line {
  width: 100%;
  height: 2px;
  background: #eee;
  margin: 10px 0;
}

.options {
  display: flex;
  flex-direction: column;
}

.options div {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 0.75rem;
}
